doctype html
html(lang="en")
head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="Responsive Admin & Dashboard Template based on Bootstrap 5")
    meta(name="author" content="AdminKit")
    meta(name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web")

    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(rel="shortcut icon" href="img/icons/icon-48x48.png")
    link(rel="canonical" href="http://localhost:4000")

    title Sign Up - LEARNIT

    //- link(href="css/app.css" rel="stylesheet")
    //- link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet")

    link(href="/css/app.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet")

body
    main.d-flex.w-100
        .container.d-flex.flex-column
            .row.vh-100
                .col-sm-10.col-md-8.col-lg-6.col-xl-5.mx-auto.d-table.h-100
                    .d-table-cell.align-middle

                        //- .text-center.mt-4
                        //-     h1.h2 LEARNIT
                        //- p.lead Start creating the best possible user experience for you customers.

                        block content

    script(src="js/app.js")