extends auth_layout

block content
  .text-center.mt-4
    h1.h2 LEARNIT
    p.lead Sign up for your account

  .card
    .card-body
      .m-sm-3
        form(action="/signup" method="POST")
          .mb-3
            label.form-label First name
            input.form-control.form-control-lg(type="text", name="FName", placeholder="Enter your name")

            .mb-3
            label.form-label Last name
            input.form-control.form-control-lg(type="text", name="LName", placeholder="Enter your name")
          
          .mb-3
            label.form-label Email
            input.form-control.form-control-lg(type="email", name="Email", placeholder="Enter your email")
          
          .mb-3
            label.form-label Password
            input.form-control.form-control-lg(type="password", name="Password", placeholder="Enter password")
          
          .mb-3
            label.form-label Confirm Password
            input.form-control.form-control-lg(type="password", name="confirmPassword", placeholder="Confirm password")
          
          .d-grid.gap-2.mt-3
            button.btn.btn-lg.btn-primary(type="submit") Sign up

  .text-center.mb-3
    | Already have an account? 
    a(href='http://localhost:4000/') Log In
