extends ../layout

block content
    div.container-fluid.p-0
        h1.h3.mb-3 Add New Subject
        .row
            .col-12.col-xl-12
                .card
                    .card-body
                        form(action="/add-subject" method="POST")
                            .mb-3
                                label.form-label Subject Name
                                input.form-control(
                                    type="text", 
                                    name="subjectName", 
                                    placeholder="Enter subject name"
                                )
                            .mb-3
                            button.btn.btn-primary.me-2(type="submit") Submit
                            //- a.btn.btn-secondary(href="/subjects") Cancel