footer.footer
    .container-fluid
        .row.text-muted
            .col-6.text-start
                p.mb-0
                    a.text-muted(href="https://adminkit.io/" target="_blank")
                        strong LearnIt
                    |  - 
                    a.text-muted(href="https://adminkit.io/" target="_blank")
                        strong @LearnIt-2021
                    |  ©
            .col-6.text-end
                ul.list-inline
                    li.list-inline-item
                        a.text-muted(href="https://adminkit.io/" target="_blank") Support
                    li.list-inline-item
                        a.text-muted(href="https://adminkit.io/" target="_blank") Help Center
                    li.list-inline-item
                        a.text-muted(href="https://adminkit.io/" target="_blank") Privacy
                    li.list-inline-item
                        a.text-muted(href="https://adminkit.io/" target="_blank") Terms
